{% extends 'base.html' %}

<h1>{% block title %}Home{% endblock %}</h1>
{% block content %}
<div class="container">
  <form class="form-inline" method="post">
    <div class="form-group mx-sm-3 mb-2">
        <label for="pattern" class="mr-2">Enter Pattern</label>
        <input name="pattern" id="pattern" required>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Verify</button>
  </form>
  {% for message in get_flashed_messages() %}
    {% if message == "It is BALANCED" %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endif %}
    {% if message == "Is not BALANCED" %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}
  {%endfor %}
</div>
{% endblock %}